.lineup-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lineup-grid {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.home-team, .away-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.player-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  margin: 5px 0;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #D9D9D9;
}

.player-number {
  width: 20%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-name {
  width: 80%;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
}
.not-available {
  text-align: center;
  color: #FF7900;
  font-weight: bold;
  font-size: 18px; /* You can adjust the size as needed */
  margin-top: 40px; /* Optional: Add some margin to position it nicely */
}