.tabs-container {
  display: flex;
  justify-content: center; /* Center the tabs within the container */
  flex-wrap: nowrap; /* Prevent wrapping */
  padding: 0 5px; /* Add some padding on the sides */
  overflow-x: auto;
   /* Enable horizontal scrolling if needed */
  margin-bottom: 10px; /* Enable horizontal scrolling if needed */
}

.tab-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 8px; /* Adjust padding for better fit */
  margin: 0 2px; /* Reduce margin between buttons */
  cursor: pointer;
  font-size: 11px; /* Adjust font size as needed */
  transition: all 0.3s ease;
  font-weight: bold;
  white-space: nowrap; /* Prevent text from wrapping inside buttons */
}

.tab-button.active {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.tab-button:hover {
  background-color: #f0f0f0;
}
